NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_your_publishable_key_here
STRIPE_SECRET_KEY=sk_live_your_secret_key_here
STRIPE_PRICE_MONTHLY=price_1TMtovLr9Np0GPGf5TeIDTuL
STRIPE_PRICE_LIFETIME=price_1TMtnvLr9Np0GPGfHn0T2ljU
NEXT_PUBLIC_APP_URL=https://debt-calculator-puce.vercel.app
